{#
  Swap a file

  parameter:
    backup.src str
    backup.dest str
    backup.generation int

#}
if [ $? -eq 0 -a -s "{{ backup.src }}" ]; then
  i=0;
  for i in $(seq 0 {{ backup.generation | default(10) }}); do
    test ! -f "{{ backup.dest }}.$i" && break;
  done;
  /bin/cp "{{ backup.dest }}"  {{ backup.dest }}.$((i % {{ backup.generation | default(10) }}));
  /bin/mv -f "{{ backup.src }}" "{{ backup.dest }}"
fi;
/bin/rm -rf "{{ backup.src }}"
